
    /* Este es el archivo de estilo de la pagina */
    @font-face {
                 font-family: truthwillout;
                 src: url(../fuentes/truthwillout.ttf); /* file in my fuentes folder */
                }
     body {background:black;
           }
     #wrapper {background-image: url("../imagenes/Halloween Wallpaper 5.jpg");
               width:1200px;
               height:720px;
               margin:10px auto;/* centra el wrapper */
               font-family: truthwillout;
               position:relative;
               }
      #titulo {font-size:3.5em;
               font-family:truthwillout;
               color:gray;
               position:absolute;
               top:10px;
               left:30px;}
      #p1 {position:absolute;
           font-size:2.5em;
           font-family:truthwillout;
           color:darkred;
           top:275px;
           left:550px;}
      #scarecrow {position: absolute;
              top:400px;
              left:650px;
              width:100px;
              height:160px;
              cursor:pointer;
              /*border: 1px solid white;*/}
      #Sans {position:absolute;
               top:500px;
               left:500px;
               visibility:hidden;    /* hidden at the begin */
               cursor:help;}


        #Dialogue1 {position:absolute;
                   top: 350px;
                   left: 400px;
                   visibility:hidden;
                   font-size:2.25em;
                   width:400px;
                   background-color:rgba(245, 245, 245, 0.253);
                   color: white;
        }

        #Dialogue2 {position:absolute;
                    top: 300px;
                    left:400px;
                    width:400px;
                    visibility:hidden;
                    font-size:2.25em;
                    background-color:rgba(245, 245, 245, 0.253);
                    color:white;}

        
       #Jumpscare {position:absolute;
                        top:5px;
                        left:100px;
                        width: 1000px;
                        height: 1000px;
                        visibility:hidden;    /* hidden at the begin */
                        }
       